body {
    color: black;
    font-size: 16px;
    background-image: url(/images/bg.jpg);
}

div#wrapper {
    background: rgba(230, 230, 230, .85);
    margin: 0 auto 0 auto;
    width: 600px;
    padding: 0 25px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0 12px 0;
}

div#logo {
    height: 15px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#logo img {
    width: 50px;
}

span#social {
    margin-left: 15px;
    float: right;
}

#social a {
    color: #fff;
    text-decoration: none;
}

#social-twitter {
    background-color: rgb(41, 170, 225);
    padding: 11px 6px 5px 7px;
    margin-right: 2px;
}

#social-linkedin {
    background-color: #0077b5;
    padding: 11px 7px 5px 7px;
    margin-right: 2px;
}

#social-stackoverflow {
    background-color: rgb(36, 39, 41);
    padding: 11px 7px 5px 7px;
}
#social-stackoverflow img {
    width: 15px;
}

div#header {
    height: 46px;
}

div#header #navigation {
    text-align: right;
    float: left;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0 12px 0;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a {
    color: #a11712;
}

a:visited {
    color: #776e0a;
}
