@font-face {
    font-family: VerminVibes2Black;
    src: url('/font/VerminVibes2Black.woff') format('woff'), url('/font/VerminVibes2Black.ttf')  format('truetype');
}

body {
    color: black;
    font-size: 16px;
    background-color: #fafafa;
}

div#image-overlay {
    border-top: 10px solid #bbbbbb;
    background-image: url(/images/bg.jpg);
    height: 278px;
    margin-bottom: -99px;
}

header {
    margin-bottom: 30px;
    padding: 12px 0 12px 0;
    background-color: rgba(220, 220, 220, 0.6);
}

div#logo {
    float: left;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#logo img {
    width: 75px;
}

nav {
    float: left;
    font-size: 3rem;
    line-height: 73px;
    margin-left: 20px;
    font-family: VerminVibes2Black,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mobile-nav {
    position: relative;
}

#mobile-menu-btn {
    padding: 8px;
    margin-top: 10px;
    background-color: #aaa;
    transition:background-color 0.5s linear;
}
#mobile-menu-btn.hidden-menu {
    background-color: transparent;
}

#mobile-menu {
    visibility: visible;
    opacity: 1;
    transition:visibility 0s,opacity 0.5s linear;
    background-color: #aaaaaa;
    list-style: none;
    line-height: 1em;
    position: absolute;
    top: 11px;
    left: 39px;
    padding: 5px 15px;
}
#mobile-menu.hidden-menu {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

#mobile-menu li {
    background-color: #ffffff;
    margin-bottom: 10px;
}

div.social {
    margin-left: 15px;
    float: right;
}

.social a {
    color: #fff;
    text-decoration: none;
}
.social a:visited {
    color: #fff;
}

.social-twitter {
    background-color: rgb(41, 170, 225);
    padding: 11px 6px 5px 7px;
    margin-right: 2px;
}

.social-linkedin {
    background-color: #0077b5;
    padding: 11px 7px 5px 7px;
    margin-right: 2px;
}

.social-stackoverflow {
    background-color: rgb(36, 39, 41);
    padding: 11px 1px 5px 7px;
}
.social-stackoverflow img {
    width: 15px;
    vertical-align: baseline;
    margin-right: 7px;
}

header div.social {
    line-height: 73px;
}

footer {
    border-top: solid 2px black;
    color: #bebebe;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0 12px 0;
    text-align: right;
    background-color: #37301F;
    min-height: 200px;
}

footer a {
    color: #be9d5b;
}

#footer-left {
    float: left;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a {
    color: #a11712;
}

a:visited {
    color: #776e0a;
}

h1 {
    color: #5b1310;
    font-weight: bold;
}
h1::before {
    content: "() => ";
    color: #5b4645;
}

h2 {
    font-style: italic;
    color: #585108;
}

.info {
    margin-bottom: 25px;
}

.twitter-share-button {
    margin-top: 20px;
}

.img-80 {
    width: 80%;
}

.img-50 {
    width: 50%;
}

<!-- Code blocks pandoc -->

div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
    margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
