<div class="row">
    <div class="col-md-8">
        <p>Software Engineer, problem solver, hacker and tinkerer.</p>

        <p>I love keeping myself occupied by learning new skills and this is the reason I am also an amateur mechanic,
            electronics designer, robot builder and photographer as well as interested in DIY and construction in general.</p>

        <p>Here is my <a href="/images/CV-adrian-lopez.pdf">Professional Summary</a>. Please feel free to contact me
            using the
            form:</p>
    </div>
    <div class="contact-form col-md-4">
        <h3>Contact me</h3>
        <form id="contact-form">
            <div class="form-group">
                <label for="name-input">Name <span class="red">*</span></label>
                <input id="name-input" class="form-control" name="Name"/>
            </div>

            <div class="form-group">
                <label for="email-input">Email address <span class="red">*</span></label>
                <input id="email-input" class="form-control has-error" name="email"/>
            </div>

            <div class="form-group">
                <label for="message-input">Message <span class="red">*</span></label>
                <textarea id="message-input" class="form-control" name="message"></textarea>
            </div>

            <div id="error-msg"></div>
            <div id="sent-msg" style="display: none;">Message sent</div>
            <button class="btn btn-lg">Send</button>
        </form>

    </div>

</div>
<script src="/js/contact.js"></script>
