<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Coding 42 - $title$</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/socialicious.css" />
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    </head>
    <body>
        <div id="image-overlay"></div>
        <header>
            <div class="container">
                <div id="logo">
                    <a href="/"><img src="/images/logo.png" title="Coding 42"/></a>
                </div>

                <nav>
                    <div class="hidden-xs">
                        <a href="/">Home</a> |
                        <a href="/about.html">About</a> |
                        <a href="/archive.html">Archive</a>
                    </div>
                    <div id="mobile-nav" class="visible-xs">
                        <script>
                            function toggleMenuVisibility() {
                                const menu = document.getElementById('mobile-menu');
                                const btn = document.getElementById('mobile-menu-btn');
                                if(menu.className === 'hidden-menu') {
                                    menu.classList.remove('hidden-menu');
                                    btn.classList.remove('hidden-menu');
                                } else {
                                    menu.classList.add('hidden-menu');
                                    btn.classList.add('hidden-menu');
                                }
                            }
                        </script>
                        <span id="mobile-menu-btn" class="glyphicon glyphicon-menu-hamburger hidden-menu" aria-hidden="true"
                        onclick="toggleMenuVisibility()"></span>
                        <ul id="mobile-menu" class="hidden-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/templates/about.html">About</a></li>
                            <li><a href="/archive.html">Archive</a></li>
                        </ul>
                    </div>
                </nav>

                $partial("templates/social.html")$
            </div>

        </header>

        <main class="container">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <div class="container">
                <div id="footer-left">
                    &copy; <a href="https://twitter.com/adrijardi">Adrián López</a>
                    $partial("templates/social.html")$
                </div>
                <div id="footer-right">
                    Site proudly generated by
                    <a target="_blank" href="http://jaspervdj.be/hakyll">Hakyll</a>
                </div>
            </div>
        </footer>

        $partial("templates/scripts.html")$
    </body>
</html>
