<div class="social">
    <a class="social-github icon-github-sign"
       href="https://github.com/adrijardi"></a>

<!--   <a class="social-twitter icon-twitter"-->
<!--       href="https://twitter.com/intent/tweet?screen_name=Adrijardi"></a>-->

    <a class="social-linkedin icon-linkedin"
       href="https://uk.linkedin.com/in/adrian-lopez-perez-39517a25"></a>

    <a class="social-stackoverflow" href="http://stackoverflow.com/users/817620/adrian-lopez">
        <img src="/images/so.png"/>
    </a>
</div>
